.createButton {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border-radius: 3px;
    border: 0;
    color: #fff;
    height: 48px;
    padding: 0 50px !important;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .30);
}

.openButton {
    margin-left: 20px !important;
    border-radius: 3px;
    border: 0;
    color: #fff;
    height: 48px;
    padding: 0 50px !important;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .30);
}