// scss 颜色样式
$_color_text:#455357; // 文本默认颜色
$_color-primary: darken(#428bca, 6.5%);
$_color_success: #53cf92;
$_color_info: #5bc0de;
//$_color_warning: #f0ad4e !default;
$_color_main: #FC5B36;
$_color_warning: #FD7119;
$_color_danger: #d9534f;
$_color_gray: #6b737e;
$_color_black: #444444;
$_bg_color_gray: #D8D8D8;